In [ ]:
# Execute if necessary
# %%capture
# !pip install numpy seaborn matplotlib pandas

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from typing import Dict, Tuple, Union, List

# Práctica 3: Modelo Lineal

__Instrucciones__: A continuación hay una lista de funciones que debe implementar o tareas que debe desarrollar. La descripción de cada una de ellas se encuentra en la definición de cada una de las funciones. Cada función está marcada por &#x1F625;,  &#x1F643; o &#x1F921;. Las marcas indican:

- &#x1F625;: Indican una entrega que debe ser hecha dentro de la misma sesión de la asignación. 
- &#x1F643;: Indican una entrega que puede ser hecha hasta la siguiente sesión.
- &#x1F921;: Debe mostrar un avance en la misma sesión, pero la entrega puede ser hecha en la siguiente.

Aquellas entregas parciales que no sean hechas el día de la asignación ya no serán válidas para las entregas totales, sin embargo, las entregas totales seguirán siendo válidas.

En esta sección se incluye un dataset real. El dataset importado incluye multiples características que describen las condiciones de los pasajeros en el accidente del titanic.

- __PassengerId__: Identificador de cada pasajero.
- __Survived__: 0 si no sobrevivió al accidente, 1 si lo hizo.
- __Pclass__: Clase en la que viajaba el pasajero, 1 - Primera clase, 2 - Segunda clase y 3 - Tercera clase.
- __Name__: Nombre del pasajero.
- __Sex__: Sexo del pasajero.
- __Age__: Edad del pasajero.
- __SibSp__: Número de hermanos más número de esposas con las que viajaba el pasajero.
- __Parch__: Número de padres más número de hijos con las que viajaba el pasajero.
- __Ticket__: Número de boleto.
- __Fare__: Tarifa del boleto del pasajero.
- __Cabin__: Número de cabina del pasajero.
- __Embarked__: Puerto de embarcación, C - Cherbourg, Q - Queenstown y S - Southampton.

In [2]:
df = pd.read_csv("titanic.csv")
df.drop('Cabin', axis='columns',inplace=True)

df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S

## Asignación 1 &#x1F625;

Realice el preprocesamiento que considere adecuado para que las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__, __Embarked__ y __Survived__ puedan ser utilizadas por un modelo lineal.

In [65]:
# Obtenemos la columna
pclas = df.Pclass


inversa = (-pclas) * (np.log1p(pclas))
print(inversa.skew())
# plt.hist(inversa)
df.replace(to_replace=df.Pclass.values, value=inversa)

0.5271586281973932

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,female,male,C,Q,S
0,0.832555,0.000000,-4.158883,"Braund, Mr. Owen Harris",22.000000,0.832555,0.000000,A/5 21171,2.110213,0.000000,-0.693147,0.000000,0.000000,-0.693147
1,1.048147,-0.693147,-0.693147,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,0.832555,0.000000,PC 17599,4.280593,-0.693147,0.000000,-0.693147,0.000000,0.000000
2,1.177410,-0.693147,-4.158883,"Heikkinen, Miss. Laina",3.295837,0.000000,0.000000,STON/O2. 3101282,2.188856,-0.693147,0.000000,0.000000,0.000000,-0.693147
3,1.268636,-0.693147,-0.693147,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",3.583519,0.832555,0.000000,113803,3.990834,-0.693147,0.000000,0.000000,0.000000,-0.693147
4,1.013248,0.000000,-4.158883,"Allen, Mr. William Henry",3.583519,0.000000,0.000000,373450,2.202765,0.000000,-0.693147,0.000000,0.000000,-0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887.000000,0.000000,-2.197225,"Montvila, Rev. Juozas",3.332205,0.000000,0.000000,211536,2.639057,0.000000,-0.693147,0.000000,0.000000,-0.693147
887,888.000000,-0.693147,-0.693147,"Graham, Miss. Margaret Edith",19.000000,0.000000,0.000000,112053,3.433987,-0.693147,0.000000,0.000000,0.000000,-0.693147
888,889.000000,0.000000,-4.158883,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,0.832555,1.048147,W./C. 6607,3.196630,-0.693147,0.000000,0.000000,0.000000,-0.693147
889,890.000000,-0.693147,-0.693147,"Behr, Mr. Karl Howell",3.295837,0.000000,0.000000,111369,3.433987,0.000000,-0.693147,-0.693147,0.000000,0.000000
890,891.000000,0.000000,-4.158883,"Dooley, Mr. Patrick",32.000000,0.000000,0.000000,370376,2.169054,0.000000,-0.693147,0.000000,-0.693147,0.000000

In [41]:
v = np.log1p(df.SibSp)
v = np.sqrt(v)
df.replace(to_replace=df.SibSp.values, value= v, inplace= True)

In [18]:
obj = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Survived']

for col in df.columns:
    if col in obj:
        print(f'Columna: {col}, total de nulos: {df[col].isnull().sum()}')

Columna: Survived, total de nulos: 0
Columna: Pclass, total de nulos: 0
Columna: SibSp, total de nulos: 0
Columna: Parch, total de nulos: 0
Columna: Fare, total de nulos: 0

In [6]:
fare_log = np.log1p(df.Fare)
# df = df.join(fare_log)
# df.drop('Fare',inplace=True, axis='columns')
df.replace(to_replace=df.Fare.values, value=fare_log, inplace=True)

In [16]:
df.Embarked.fillna(method='ffill', inplace=True)

In [17]:
# Obtenemos las columnas codificadas
sex_onehot = pd.get_dummies(df.Sex)

# Obtenemos el onehot de Embarked
embarked_onehot = pd.get_dummies(df.Embarked)

# Juntamos las columnas de one hot con el data set original
df =df.join(sex_onehot)
df = df.join(embarked_onehot)

# Eliminamos las columnas extras
df.drop(['Sex', 'Embarked'], axis=1, inplace=True)

df.head(5)
# df.SibSp.value_counts()
# df.Parch.value_counts()
# df.Cabin.isnull().sum()
# df.Survived.value_counts()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,female,male,C,Q,S
0,1.000000,0,3,"Braund, Mr. Owen Harris",22.000000,1.0,0.0,A/5 21171,2.110213,0,1,0,0,1
1,2.000000,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1.0,0.0,PC 17599,4.280593,1,0,1,0,0
2,3.000000,1,3,"Heikkinen, Miss. Laina",3.295837,0.0,0.0,STON/O2. 3101282,2.188856,1,0,0,0,1
3,4.000000,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",3.583519,1.0,0.0,113803,3.990834,1,0,0,0,1
4,1.791759,0,3,"Allen, Mr. William Henry",3.583519,0.0,0.0,373450,2.202765,0,1,0,0,1

## Asignación 2 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir __Survived__ utilizando el algoritmo _pocket_. Imprima el error obtenido.

In [67]:
def perceptron_learning_algorithm(X, y, w=None):
    if w is None:
        w = np.zeros(X.shape[1])
    
    converged = False
    while not converged:
        converged = True
        for i in range(X.shape[0]):
            if np.sign(np.dot(X[i], w)) != y[i]:
                w += y[i] * X[i]
                converged = False
    
    return w

def calculate_error(X, y, w):
    predictions = np.sign(np.dot(X, w))
    return np.sum(predictions != y) / y.shape[0]

def pocket_algorithm(X, y, max_iterations):
    # Initialize weight vector with PLA
    w = perceptron_learning_algorithm(X, y)
    w_pocket = w.copy()
    best_error = calculate_error(X, y, w_pocket)

    for i in range(max_iterations):
        # Run one update of PLA
        w_new = perceptron_learning_algorithm(X, y, w)
        
        # Evaluate the error of the new weight vector
        new_error = calculate_error(X, y, w_new)
        
        # If the new weight vector has a lower error than the pocket, update the pocket
        if new_error < best_error:
            w_pocket = w_new.copy()
            best_error = new_error
        
        w = w_new.copy()
    
    return w_pocket

In [ ]:
x = df[['Pclass', 'female', 'male', ]]

In [ ]:
def pocket_algorithm(max_iterations : int, x : pd.Series, y : pd.Series):
    """
    Funcion
    """

## Asignación 3 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Cabin__ y __Embarked__, entrene una regresión lineal para predecir __Fare__ utilizando el algoritmo de Ordinary Leasts Squares (OLS). Imprima el valor del error cuadrático medio (MSE).

In [ ]:
def OLS(X, y):
    """
    Computes the optimal weights using Ordinary Least Squares
    :param X: Feature matrix of shape (n_samples, n_features)
    :param y: Target vector of shape (n_samples,)
    :return: Optimal weights of shape (n_features,)
    """
    X_T_X = np.dot(X.T, X)
    X_T_y = np.dot(X.T, y)
    w = np.linalg.solve(X_T_X, X_T_y)
    return w

def mean_squared_error(y_true, y_pred):
    """
    Computes the mean squared error between true and predicted targets
    :param y_true: True target vector
    :param y_pred: Predicted target vector
    :return: Mean squared error
    """
    return np.mean((y_true - y_pred) ** 2)

## Asignación 4 &#x1F921;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir la probabilidad de supervivencia __Survived__ utilizando el algoritmo de gradiente descendente estocástico y la entropía cruzada como función de error. Imprima el arror en cada iteración del gradiente.